{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
 
 
 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index_dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Packging Material</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'supplier' %}">
              <i class="bi bi-circle"></i><span>Jerecan Suppliers</span>
            </a>
          </li>
          <li>
            <a href="{% url 'stickingPage' %}">
              <i class="bi bi-circle"></i><span>Stickers</span>
            </a>
          </li>
          <a href="{% url 'cartoonPage' %}">
            <i class="bi bi-circle"></i><span>Cartoons</span>
          </a>
        </li>
          <li>
            <a href="{% url 'shipping' %}">
              <i class="bi bi-circle"></i><span>Shipping</span>
            </a>
          </li>
          <li>
            <a href="{% url 'shippingDirectionPage' %}">
              <i class="bi bi-circle"></i><span>Shipping-Direction</span>
            </a>
          </li>
          <li>
            <a href="{% url 'oilSupplierPage' %}">
              <i class="bi bi-circle"></i><span>Oil Suppliers</span>
            </a>
          </li>
          <li>
            <a href="{% url 'certificationPage' %}">
              <i class="bi bi-circle"></i><span>Certification</span>
            </a>
          </li>
          <li>
            <a href="{% url 'packgingProcessing' %}">
              <i class="bi bi-circle"></i><span>Packging Loading</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Tables Nav -->

      
      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'myProfile' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'contactAdmin' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register_user' %}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout_user' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->

     
    </ul>

  </aside><!-- End Sidebar-->
{% endblock %}