{% extends 'layouts/base.html' %}
 
{% block content %}
{% load static %}

<!-- ======= Footer ======= -->
 <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Naif</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
       Designed by <a href="#">Alf Ba Company</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}