{% extends 'layouts/base.html' %}

{% block title %}Jerecan Suppliers{% endblock title %}
{% block content %}
{% load static %}
{% include 'layouts/admin_sidebar.html' %}
{% include 'layouts/admin_navbar.html' %}



<main id="main" class="main">

    <div class="pagetitle">
      <h1>Jerecan Suppliers</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index_dashboard' %}">Home</a></li>
          <li class="breadcrumb-item">Components</li>
          <li class="breadcrumb-item active">Tabs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card" style='width=100%'>
            <div class="card-body">
              <h5 class="card-title">Jerecan Suppliers Management</h5>

              {% for message in messages %}
                    <div class="alert alert-success small"><b>{{message}}</b></div>
              {% endfor %}
              <!-- Default Tabs -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">All Jerecan Suppliers</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Create New Jerecan Suppliers</button>
                </li>
               
              </ul>
              <div class="tab-content pt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table datatable p-5 text-center">
                        <thead>
                          <tr>
                            
                            <th scope="col">Type of Jerecan</th>
                            <th scope="col">Jon Size</th>
                            <th scope="col">Jon Price</th>
                            <th scope="col">Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for suppliers in supplier %}
                          <tr>
                            
                            <td>{{suppliers.supplier_name}}</td>
                            <td>{{suppliers.jon_size}}</td>
                            <td>${{suppliers.joi_price}}</td>
                            <td>
                              <a href="{% url 'editSupplier' suppliers.id %}"  class='btn btn-outline-primary'>edit</a>
                              <a href="{% url 'deleteSupplier' suppliers.id %}" class='btn btn-outline-danger'>delete</a>
                              <a href="{% url 'supplierInfo' suppliers.id %}" class='btn btn-outline-info'>info</a>
                            </td>
                              
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <b><h3 class="muted text-center small">Add New Supplier</h3></b>
                   <form class='form-control container mt-4' method="POST" action="{% url 'supplier' %}">
                    {% csrf_token %}
                     
                        <div class="mb-3 mt-3">
                          <input type="text" class="form-control text-center" required name="supplier" placeholder="Supplier Name">
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control text-center" required name="jon_size" placeholder="Jon Size">
                          </div>
                          <div class="mb-3 mt-3">
                            <input type="text" class="form-control text-center" name="jon_count" placeholder="Jon Count">
                          </div>
                          <div class="mb-3 mt-3">
                            <input type="text" class="form-control text-center" name="jon_ton_liter" placeholder="Ton / Liter">
                          </div>
                          <div class="mb-3 mt-3">
                            <input type="decimal" class="form-control text-center" required name="jon_price" placeholder="Jon Price">
                          </div>
                          <div class="mb-3 mt-3">
                            <select class="form-select" name="sticker" aria-label="Default select example">
                              <option  placeholder="Sticker Price">Select Sticker Size</option>
                              {% for sticker in sticker_info %}
                              <option value="{{sticker.id}}">{{sticker.sticker_company}}: Size - {{sticker.sticker_size}} Liter</option>
                              {% endfor %}
                            </select>
                            <a href="{% url 'addStickerModal' %}"><i class="bi bi-file-plus-fill fs-2"></i></a>
                          </div>
                          <div class="mb-3 mt-3">
                          <select class="form-select mb-3" name="cartoon" aria-label="Default select example" required>
                            <option  placeholder="Sticker Price">Select Cartoon Size</option>
                            {% for cartoon in cartoons %}
                            <option value="{{cartoon.id}}">{{cartoon.cartoon_company}}: {{cartoon.cartoon_size}} - Liter</option>
                            {% endfor %}
                          </select>
                          <a href="{% url 'AddCartoonModal' %}"><i class="bi bi-file-plus-fill fs-2"></i></a>
                        </div>
                          
                          <div class="mb-3 mt-3">
                            <select class="form-select" name="oil_supplier" aria-label="Default select example">
                              <option  placeholder="Oil Supplier">Select Oil Supplier Size</option>
                              {% for supplier in supplier_Oil %}
                              <option value="{{supplier.id}}">{{supplier.oil_company}}</option>
                              {% endfor %}
                            </select>
                            <a href="{% url 'addOilSuplierModal' %}"><i class="bi bi-file-plus-fill fs-2"></i></a>
                          </div>
                          
                        <button type="submit" class="btn btn-secondary">save Supplier Informations</button>
                      </form>
                  
                </div>
                
              </div><!-- End Default Tabs -->

            </div>
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  

 {% comment %} Footer {% endcomment %}
 {% include 'layouts/admin_footer.html' %}
 {% comment %} Java Script {% endcomment %}
 {% include 'layouts/admin_Js.html' %}

 
{% endblock %}